@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "DejaVu Mono", 'Courier New', Courier, monospace;
  height: 100vh;
}

a {
  color: lightskyblue;
  text-decoration-line: underline;
}

/* dejavu-mono-latin-400-normal */
@font-face {
  font-family: 'DejaVu Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/dejavu-mono@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/dejavu-mono@latest/latin-400-normal.woff) format('woff');
}